/**** BASE STYLES ****/

body {
  background: #DAF7F6;
  color: #3B3B3B;
  font-family: "Open sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
}

/**** HEADER ****/
header {
background: #fff;
text-align: center;
}

h1 {
  display: inline-block;
  padding: 40px 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #F16059;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

header img {
  margin-right: 30px;
}

/**** MAIN ****/

main {
  width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 30px 0;
  overflow: auto;

}

.image {
  float: left;
  width: 500px;
  height: 550px;
  background-color: #efefef;
}

.recipe {
  float: left;
  padding: 20px;
  width: 500px;
  height: 550px;
  background: white;
  box-sizing: border-box;
}

/*#coockies .img,
#pesto .img,
#salad .img {
  background-size: cover;
}*/

#cookies .image {
  background-image: url("../img/gluten-free-sugar-cookies.jpg");
  background-size: cover;
}

#pesto .image {
  background-image: url("../img/nut-free-pesto.jpg");
  background-size: cover;
}

#salad .image {
  background-image: url("../img/watermelon-salad.jpg");
  background-size: cover;
}

.recipe h2{
  color: #F16059;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.time {
  margin-bottom: 5px;
  border: 1px solid #3B3B3B;
  overflow: auto;
  box-sizing: border-box;
  vertical-align: center;
}

.prep,
.cook,
.total {
  float: left;
  padding-left: 6px;
  width: 33.33%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.time .cook {
  border-right: 1px solid #383838;
  border-left: 1px solid #383838;
}

.time img {
  margin-right: 5px;
  vertical-align: middle;
  width: 15px;
  height: auto;
}

.time-details {
  text-transform: uppercase;
  display: inline-block;
}

.time strong {
  font-family: 'Montserrat', sans-serif;
}

.columns {
  overflow:auto;
}

.directions {
  float: left;
  width: 240px;
}

.ingredients {
  float: left;
  width: 205px;
  margin-right: 10px;
}

.recipe h3 {
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  color: #F16059;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.ingredients ul {
  padding-left: 15px;
  line-height: 24px;
  list-style-type: square;
}

.directions ol {
  padding-left: 15px;
  line-height: 22px;
}
